@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Prata&display=swap')
    
//Colors  
$maincolor: #6278f7
$secondcolor: #95ffd4
$thirdcolor: #F2F2F2
$color-black: #212121 
$color-white: #FFFFFF
$graybackground: #F6F6F6
$inputplaceholder: #AFAFAF

//Colors: teams
$maincolor-development-team: #57C278
$backgroundcolor-development-team: #D9F7E9
$maincolor-frontend-team: #82CFFA
$backgroundcolor-frontend-team: #E8F8FF
$maincolor-datascience-team: #A6D157
$backgroundcolor-datascience-team: #F0F8E2
$maincolor-devops-team: #E06B69
$backgroundcolor-devops-team: #FDE7E8
$maincolor-uxdesign-team: #DB6EBF
$backgroundcolor-uxdesign-team: #FAE9F5
$maincolor-mobile-team: #FFBA05
$backgroundcolor-mobile-team: #FFF5D9
$maincolor-innovmanagement-team: #FF8A29
$backgroundcolor-innovmanagement-team: #FFEEDF

//fonts:
$mainfont: 'Prata', serif
$secondfont: 'Montserrat', sans-serif